@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    background-color: #121212;
    color: white;
}

/*inicio do cabecalho*/

header {
  width: 100%;
  height: 90px;
  }
  .header{
    display: flex;
    align-items: center;
    background-color: #202020;
    color: #fff;
    height: 90px;
    justify-content: space-between;
    border-bottom: #00EAFF solid 3px;
    width: 100%;
    z-index: 9999;
    position: fixed;
  }
  
  #logo {
    /* estilos para a imagem */
    height: 75px;
    margin: 0 0 0 5%;
    padding: 0 20px;
  }
  
  nav {
    /* estilos para a barra de navegação */
    margin: 0;
  }
  
  nav ul {
    /* estilos para a lista da barra de navegação */
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    /* estilos para os itens da barra de navegação */
    margin: 0 5px;
    font-size: 19px;
  }
  
  nav a {
    /* estilos para os links da barra de navegação */
    color: #fff;
    text-decoration: none;
    padding: 7px 14px;
  }

  nav a:hover {
    /* estilos para quando passar o mouse nos links da barra de navegação */
    color: #121212;
    background-color: white;
    border: #000 solid 3px;
    border-radius: 10%;
  }

  @media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: center;
      height: 100px;
    }
    nav {
      /* centralizar a barra de navegação */
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    #logo {
        /* estilos para a imagem */
        height: 50px;
        margin: 10px 0 0 0;
        padding: 0 20px;
      }
      nav a {
        padding: 0 5px;
      }   
  }

/*inicio da home*/

  .img-pequena{
    display: none;
  }

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333 url("./img/fundo-galaxia.jpg");
    border-bottom: #00EAFF outset 5px;
  }
  
  .icons {
    margin: 10%;
  }
  
  .icon-color{
    color: #FFF;
    background-color: #333;
    padding: 8px 10px;
    border-radius: 50%;
    transition: transform .7s;
  }

  .icon-color:hover{
    transform: rotate(360deg);
    color: #333;
    background-color: #fff;
    border: #00EAFF solid 2px;
  }

  .icons a {
    color: #333;
    font-size: 2em;
    margin-right: 1em;
    text-decoration: none;
  }
  
  .profile-image {
    overflow: hidden;
    width: 70%;
    height: 70%;
    margin: 10% 20%;
  }
  
  .profile-image img {
    width: 95%;
    border-radius: 50%;
    border: #00EAFF solid 5px;
    
  }

  .text-home{
    width: 65%;
    height: 500px;
    text-align: center;
    background-color: #121212;
    border: #00EAFF solid 5px;
    border-radius: 10%;
    top: 0;
    min-width: 400px;
    margin-left: 5%;
  }

  .text-home h1{
    font-size: 4em;
    text-align: center;
    margin-top: 50px;
    font-family: 'Fjalla One', sans-serif;
    
  }
  
  .text-home h2{
    text-align: center;
    font-size:2em;
    color: #00EAFF;
    font-size: 1.6em;
  }

  .text-home p{
    padding: 7% 15% 0 15%;
  }

  .tipo-dev{
    margin: 15px;
  }

  .text-home h2 strong{
    color: #fff;
  }
  
  @media screen and (max-width: 750px){
    .profile-image {
      display: none;
    }
    .text-home{
      margin: 50px auto;
      height: 100%;
      min-width: 10%;
    }

    .img-pequena {
      display: block;
      overflow: hidden;
      width: 70%;
      margin: 30px auto 0 auto;
    }
    
    .img-pequena img {
      width: 95%;
      border-radius: 50%;
      border: #00EAFF solid 5px;
      
    }
  }

/*inicio do Sobre*/

#sobre{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

#sobre h1 i{
  color: #00EAFF;
}

#sobre h1{
  font-size: 2.5em;
  display: inline-block;
  margin: 7%;
  border-bottom: #FFF solid 4px;
}

#sobre .titulo-sobre{
  display: flex;
  justify-content: center;
}

.container-sobre{
  display: flex;
}

.img-sobre{
  border: #00EAFF solid 8px;
  display: inline-block;
  width: 50%;
  margin-left: 15%;
}

.img-sobre img{
  width: 100%;
  height: 100%;
  margin: -10% -10% 10% 15%;
  border: #FFF solid 4px;
}

.container-img-sobre{
  width: 50%;
  height: 20em;
}

.text-sobre{
  width: 50%;
  text-align: left;
  padding: 0 7%;
}

.text-sobre h2{
  font-size:2em;
  color: #00EAFF;
  font-size: 1.6em;
  text-indent: 0;
  margin: 20px 0;
}

.text-sobre .h2-menor{
  font-size: 22px;
}

.text-sobre h2 strong{
  color: #fff;
}

.text-sobre p{
  padding: 20px 0 ;
  color: #BCBCBC;
}

/*inicio da experiência*/

.h2-experiencia{
  text-align: center;
  margin: 7% 0 3% 0;
}

.experiencia li{
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  padding: 35px 0;
  border-top: #00EAFF solid 4px;
  border-bottom: #00EAFF outset 4px;
  margin-bottom: 3%;
}

.text-experiencia{
  width: 50%;
  margin: 0 15% 0 7%;
}

.text-experiencia p{
  margin-top: 5%;
}

.img-experiencia{
  width: 17%;
  margin-left: 7%;
  min-width: 150px;
  
}

.img-experiencia img{
  width: 100%;
  border: #00EAFF solid 4px;
  border-radius: 10px;
}

.img-experiencia img:hover{
  width: 100%;
}

.informacoes-experiencia{
  text-align: left;
  padding: 0;
}


/*inicio da formação*/

.formacao li{
  display: flex;
  justify-content: space-between;
  border-top: #00EAFF outset 3px;
  border-bottom: #00EAFF outset 3px;
  margin: 30px 0;
}

#h2-formacao{
  text-align: center;
  margin: 7% 0 3% 0;
}

.container-img-formacao{
  width: 50%;
  display: inline-block;
}
.container-img-formacao img{
  width: 50%;
  justify-content: center;
}

.container-text-formacao{
  width: 50%;
  display: inline-block;
  padding: 0 10% 5% 0;
}
.container-text-formacao h3{
  margin: 5%;
}
.container-text-formacao p{
  color: #BCBCBC;
}
.container-text-formacao a{
  text-decoration: none;
  color: #BCBCBC;
}

/*inicio das habilidades*/

.container-habilidades{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.container-habilidades ul{
  padding: 10%;
}
.container-habilidades li{
  margin: 7%;
  list-style: none;
  color: #BCBCBC;
}

.ul-habilidades{
  border: #00EAFF solid 3px;
  border-radius: 10%;
  padding: 30px;
  margin-bottom: 20%;
  background-color: #202020;
}

@media only screen and (max-width: 800px) {
  .container-habilidades {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-habilidades li{
    width: 100%;
    text-align: center;
  }
}

/*inicio do Portifolio*/

#portfolio{
  align-items: center;
  padding-bottom: 10%;
}

#portfolio h1 i{
  color: #00EAFF;
}

#portfolio h1{
  font-size: 2.5em;
  border-bottom: #FFF solid 4px;
}
#portfolio span{
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
}

.projetos li{
  display: flex;
  background-color: #202020;
  padding: 35px 0;
  border-top: #00EAFF solid 4px;
  border-bottom: #00EAFF outset 4px;
  margin-bottom: 3%;
}

.text-projeto{
  width: 50%;
  margin: 0 15% 0 10%;
}

.text-projeto p{
  margin-top: 5%;
}

.img-projeto{
  width: 17%;
  margin-left: 7%;
  min-width: 150px;
  
}

.img-projeto img{
  width: 100%;
  border-radius: 50%;
  border: #00EAFF solid 4px;
  transition: transform .5s;
  filter: brightness(80%) grayscale(50%);
}

.img-projeto img:hover{
  width: 100%;
  border-radius: 50%;
  border: #00EAFF solid 4px;
  transform: rotate(360deg);
  filter: brightness(100%) grayscale(0%);
}

/*inicio do Contato*/

#contato{
  padding-bottom: 70px;
}

#contato h1 i{
  color: #00EAFF;
}

#contato h1{
  font-size: 2.5em;
  border-bottom: #FFF solid 4px;
}
#contato span{
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
}

.container-contato{
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
}

.container-contato p{
  margin: 10px;
}

.space-text{
  margin:10px;
}

.localizacao{
  text-align: left;
}

.email{
  text-align: left;
}

.tiktok{
  text-align: left;
}

.instagram{
  text-align: left;
  font-size: 20px;
}

.fas{
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .container-contato {
    flex-wrap: wrap;
    justify-content: flex-start; /* alinha os elementos à esquerda */
  }
  .space-text{
    width: 100%;
    text-align: left; /* alinha o texto à esquerda */
  }
}



/*inicio do footer*/

footer{
  background-color: #202020;
  height: 100%;
  width: 100%;
}

.container-footer{
  width: 45%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.container-footer h1{
  padding: 60px 0 30px;
  color: #00EAFF;
}

.container-footer p{
  margin-bottom: 20px;
}

.container-footer p span{
  text-transform: capitalize;
  font-weight: 600;
  padding-left: 10px;
  color: #BCBCBC
}

.creditos{
  padding-bottom: 35px;
}

.creditos a {
  text-decoration: none;
  color: #00EAFF;
}



